@import './assets/styles/reset.scss';
.js-props {
    color: #1a1a1a
  }
  .string {
    color: #e8696b;
  }
  
  .number {
    color: #5a9bcf;
  }
  
  .boolean {
    color: #718c00;
  }
  
  .null {
    color: #8b8b8b;
  }
  
  .key {
    color: #795e26;
  }
  .array {
    color: #718c00;
  }