html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.full-width {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}